<h2>Get the code</h2>
<p>Netzke framework consists of 2 Rails plugins/Ruby gems: netzke-core and netzke-basepack. Get them on the GitHub along with the source code for this demo: <a href = http://github.com/skozlov>http://github.com/skozlov</a></p>
<p>The news about Netzke development and more tutorials on <a href = http://blog.writelesscode.com>http://blog.writelesscode.com</a>
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p class="small">--- The following links alter test data (the page will be reloaded):</p>
<p class="small"><%= link_to "regenerate test data", :action => "regenerate_test_data" %></p>
<p class="small"><%= link_to "reset configs (e.g. columns configurations, permissions, etc )", :action => "reset_configs" %></p>
