<%= netzke :just_a_panel %>
<h1>My tree</h1>

<div style='width: 300px;'>
  <%#= netzke :bosses_and_clerks, 
    :class_name    => "OneToManyGridSetPoc",
    :container_class_name => "Boss",
    :element_class_name   => "Clerk"
   %>
  <%= netzke :my_first_tree, :class_name => "MyTree", :model => "Folder", :ext_config => {:title => "Folders"} %>
</div>
