<% title "Netzke::GridPanel (1)" %>

<ul>
  <li><%= link_to "Example 2 >>", "/grid_panel/example2"%></li>
</ul>

<h2>Example 1: Basic</h2>
<p>Here's an instance of GridPanel, which by default provides for: 
  <li>multiline CRUD-operations inside the grid itself</li>
  <li>multi-record editing and adding records via a form</li>
  <li>context menu</li>
  <li>support for Rails validations</li>
  <li>pagination</li>
  <li>sorting</li>
  <li>search filters (per column)</li>
  <li>extended search (configurable, see the last widget below)</li>
  <li>automatic column type detection (e.g. "salary" is a number column)</li>
  <li>persistent on-the-fly configuration of the columns ("move", "resize" and "hide"-operations)</li>
</p>  

<p>Code (in the view):
<% coderay do %>
netzke :bosses, 
  :class_name => "GridPanel", 
  :model => 'Boss'
<% end %>
</p>
<p>Result:</p>
<%= netzke :bosses, 
  :class_name => "GridPanel", 
  :model => 'Boss' %>  

<p>  
